.familia::after {
  background-color: rgb(37, 37, 37);
  display: block;
  content: "";
  height: 2px;
  width: auto;
  margin: auto auto;
}

p #hijos{
  background-color: rgb(145, 255, 209);
  color: rgb(77, 77, 77);
}

p #padre {
  background-color: rgb(145, 145, 255);
  color: rgb(77, 77, 77);
}
p #madre {
  background-color: rgb(255, 133, 204);
  color: rgb(77, 77, 77);
}
p #nombre {
  background-color: rgb(239, 255, 167);
  color: rgb(77, 77, 77);
}
p #abueloP {
  background-color: rgb(167, 149, 89);
  color: rgb(77, 77, 77);
}
p #abueloM {
  background-color: rgb(255, 133, 133);
  color: rgb(77, 77, 77);
}
p #abuelaP {
  background-color: rgb(193, 255, 180);
  color: rgb(77, 77, 77);
}
p #abuelaM {
  background-color: rgb(239, 161, 255);
  color: rgb(77, 77, 77);
}
